<div class="page-wrapper">
    <div class="panel-heading">
        <h3>{{title}}</h3>
    </div>

    <div class="panel-body">
        <form role="form" name="mlcRequestAssetManagementForm" novalidate>
            <h1> to be added </h1>
        </form>
    </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a href="javascript:;" class="btn btn-primary btn-lg" role="button">Learn more »</a>
        </p>
    </div>

<ul class="list-inline">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>