<div class="col-md-4">
    <ul class="list-inline">
        <!--Remove all href="#"-->
        <li class="list-inline-item"><a (click)="setFilterObject('AllRequests');">All Requests</a></li>
        <li class="list-inline-item"><a (click)="setFilterObject('MyRequests');">My Requests</a></li>
        <li class="list-inline-item"><a (click)="refresh()"><i class=" fa fa-refresh"></i></a></li>
    </ul>
</div>
<div class="col-md-4">
    <ul class="list-inline">
        <li class="list-inline-item">
            Request Type:
            <select class="text-primary padding3" [(ngModel)]="filterObject.requestType">
                <option value="">All</option>
                <option *ngFor="let v of selectionRequestTypes" [value]="v">{{v}}</option>
            </select>
        </li>
        <li class="list-inline-item">
            Status:
            <select class="text-primary padding3" [(ngModel)]="filterObject.requestStatus">
                <option value="">All</option>
                <option *ngFor="let v of selectionRequestStatuses" [value]="v">{{v}}</option>
	        </select>
        </li>
    </ul>
</div>
<div class="col-md-3 col-md-offset-1 pull-right">
    <input type="text" class="form-control input-sm" placeholder="Search by request Reference..." [(ngModel)]="query">
</div>