request list table
<table class="table table-striped">
    <!--<thead>
        <tr>
            <td>
                <a (click)="sortData('requestReference')">
                                        Reference
                                    </a>
            </td>
            <td>
                <a (click)="sortData('requestType')">
                                        Request Type
                                    </a>
            </td>
            <td>
                <a (click)="sortData('clientCode')">
                                        Client
                                    </a>
            </td>
            <td>
                <a (click)="sortData('addedBy')">
                                        Added by
                                    </a>
            </td>
            <td>
                <a (click)="sortData('dateTimeAdded')">
                                        Added Datetime
                                    </a>

            </td>
            <td>
                <a (click)="sortData('status')">
                                        Status
                                    </a>
            </td>
            <td></td>
        </tr>
    </thead>-->
    <tbody>
        <tr *ngFor="let r of pageRequestList">
            <td>{{r.requestReference}}</td>
            <td>{{r.requestType}}</td>
            <td>{{r.clientCode}}</td>
            <td>{{r.addedBy}}</td>
            <td>{{r.dateTimeAdded}}</td>
            <td>
            </td>
            <td>
                <a title="View Detail" alt="View Detail" (click)="showRequestDetail(r.clientCode, r.requestReference, r.requestType)">
                    <i class="fa fa-info"></i> View Detail
                </a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6">
                <!--<div class="pagination">
                                        Page {{vm.paging.currentPage+1}} of {{vm.paging.totalPage}}
                                        <a (click)="vm.gotoPage(vm.paging.currentPage - 1)" [hidden]="vm.paging.isPrev">
                                            <i class="fa fa-chevron-left fa-fw"></i>
                                        </a>
                                        <a (click)="vm.gotoPage(vm.paging.currentPage + 1)" [hidden]="vm.paging.isNext">
                                            <i class="fa fa-chevron-right fa-fw"></i>
                                        </a>
                                    </div>-->
            </td>
        </tr>
    </tfoot>
</table>
