<div class="page-wrapper">
        <div class="panel-heading">
            <h3 class="panel-title">Request list</h3>
        </div>

        <div class="panel-body">
            <form role="form" name="ratesForm" novalidate>
                <div class="row bottom7">
                   <request-filter></request-filter>
                </div>
                <div class="row">
                   <request-list></request-list>
                </div>
                <div class="row">
                </div>
            </form>
        </div>
    </div>